$todo-text-color:rgba(254,255,253,255);
$text-field-contianer-color:rgba(37,39,60,255);
$grey:#999;
$light-blue:rgb(40,192,217);
$border-bottom-color:rgb(146, 145, 145);
$filter-button-hover:hsl(220, 98%, 61%);
$box-shadow:rgba(0, 0, 0, 0.5);
$dark-theme:rgba(24,24,36,255);