.App {
    height: 100vh;
    position: relative;
    img{
        position: absolute;
        width: 100%;
        object-fit: cover;
    }
}

@media(max-width:570px){
   img{
    height: 200px;
    object-fit: unset !important;
   }
}
  
  
  